{:deps {com.github.haifengl/smile-core {:mvn/version "2.6.0"}
        incanter/incanter-io {:mvn/version "1.9.3"}
        io.github.inferenceql/inferenceql.inference {:git/sha "e1dcd0f2721dcdef388f8270dc9bd80eecde3ef9"}
        org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
        org.bytedeco/openblas {:mvn/version "0.3.17-1.5.6"}
        org.bytedeco/openblas-platform {:mvn/version "0.3.17-1.5.6"}
        org.clojars.haifengl/smile {:mvn/version "2.6.0"}}

 :aliases {:test {:extra-paths ["test/src" "test/resources"]
                  :extra-deps {expound/expound {:mvn/version "0.7.2"}
                               io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                               org.clojure/test.check {:mvn/version "1.1.0"}}
                  :exec-fn cognitect.test-runner.api/test}}}
